@import "fonts";

// variables

//header vars
$header-bg-color: #fff;
$header-links-color: #fff;

//theme colors
$primary-normal: #e37a40;
$secondary-normal: #470063;

$primary-dark: darken(
  $color: $primary-normal,
  $amount: 5,
);
$primary-light: lighten(
  $color: $primary-normal,
  $amount: 5,
);
$secondary-dark: darken(
  $color: $secondary-normal,
  $amount: 5,
);
$secondary-light: lighten(
  $color: $secondary-normal,
  $amount: 5,
);

// arrows
$arrow-right: url(./icon-arrow-right.png);
$arrow-left: url(./icon-arrow-left.png);

//links
$links-color: #333;
$links-color--hover: #555;
$links-line-color: #e37a40;

//buttons
$btn-color: #e37a40;
$btn-bg-color: transparent;
$btn-border-color: #e37a40;
$btn-color--hover: #fff;
$btn-bg-color--hover: $btn-border-color;
